@tailwind base;
@tailwind components;
@tailwind utilities;
.css-187mznn-MuiSlider-root {
  color: rgba(141, 179, 56, 1) !important;
}
.css-eg0mwd-MuiSlider-thumb {
  border-radius: 0% !important;
}
.menue div {
  padding: 40px 40px 40px 40px;
}
.footUl {
  font-size: 16px;
  text-align: left;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footUl li {
  color: #f5f5f6;
}
.icons img {
  width: 25px;
  height: 25px;
}
.menu-opener {
  width: 770px !important;
  background-color: #f5f5f6 !important;
  padding: 20px !important;
  display: flex !important;
  justify-content: space-between !important;
  color: #49423d !important;
  font-size: 18px !important;
  position: relative !important;
}
.menu-opener:hover {
  color: #8db338 !important;
}

element.style {
  opacity: 1;
  transform: none;
  transition: opacity 251ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 167ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  top: 275px;
  left: 80px;
  transform-origin: 0px 0px;
}
@media screen and (min-width: 426px) {
  .css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    width: 770px;
    position: relative !important;
    top: 100px !important;
    left: 80px !important;
  }
}
@media screen and (max-width: 426px) {
  .css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    width: 3200px;
    position: relative !important;
    top: 100px !important;
    left: 80px !important;
  }
  .menu-opener {
    width: 320px !important;
    background-color: #f5f5f6 !important;
    padding: 20px !important;
    display: flex !important;
    justify-content: space-between !important;
    color: #49423d !important;
    font-size: 18px !important;
    position: relative !important;
  }
  .menu-opener:hover {
    color: #8db338 !important;
  }

  element.style {
    opacity: 1;
    transform: none;
    transition: opacity 251ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      transform 167ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    top: 275px;
    left: 80px;
    transform-origin: 0px 0px;
  }
  .css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    width: 770px;
    position: relative !important;
    top: 100px !important;
    left: 80px !important;
  }
}
.EZDrawer__container {
  position: absolute !important;
  top: 80px !important;
}
.EZDrawer__overlay {
  position: absolute !important;
  top: 80px !important;
}
